* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1024px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .image-container {
    grid-template-columns: 1fr;
  }
}
